VITE_REMOTE_BP_HOST_TRANSPORT=webrtc
VITE_REMOTE_BP_SIGNALING_URL=wss://signal.xqbbp.dpdns.org
# JSON array compatible with RTCConfiguration. TURN can be added here later.
VITE_REMOTE_BP_ICE_SERVERS=[{"urls":["stun:stun.l.google.com:19302"]}]
